<!DOCTYPE html>

<html>
	<head>
		{% block stylesheets %}
    		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    		<style>
		    	#left-col, #right-col { background-color: lightgrey}
    		</style>
        <!-- <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
		{% endblock %}
	</head>
<body>

{% block navbar %}

<!-- barre de navigation en haut des pages -->
<nav id="navbar" class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Histoires de Bougs <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Groupes</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demandes d'amis <span class="caret"></span></a>
          {{ render(controller('CoreBundle:Friends:friendRequests')) }}
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('boug_profile', {'username' : user.username}) }}">Voir mon profil</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}
<div class="row">
	<div id="left-col" class="col-md-2">
		{% block leftcol %} <!-- La colonne de gauche  -->

		{% endblock %}
	</div>
	<div class="col-md-8">
	{% block body %} <!-- Le contenu principale de la page  -->
	{% endblock %}
	</div>
	<div id="right-col" class="col-md-2">
		{% block rightcol %} <!-- La colonne de droite  -->
            {# Zone d'ajout d'amis #}
            <div id="add-friends-zone" class="row">
                <h3>Ajouter des amis</h3>
                <input id="friends-search-input" type="text" class="form-control" placeholder="Rechercher des amis">
                <div id="friends-to-be-added"></div>
            </div>
		{% endblock %}
	</div>
</div>
{% endblock %}




{% block javascripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <!--<script type="text/javascript" src="js/bootstrap-multiselect.js"></script> -->

    <script>
    $(document).ready(function() {

        //On va chercher les bougs en BDD lorsque l'utilisateur effectue une recherche
        $('#add-friends-zone').on('keyup', 'input', function(e){
            if(e.which != 8) //Si il n'appuie pas sur retour
            {
                //On vide l'espace des résultats
                $('#friends-to-be-added').empty();
                //On appelle la fonction qui va effectuer l'appel ajax avec la valeur recherchée
                searchFriendsAjax($(this).val());
            }
        })
        //Quand on clique sur 'ajouter en ami' à côté d'un résultat de recherche 
        .on('click', 'button.send-friend-request', function()
        {
            idBoug = $(this).attr('id-boug');
            $.ajax({
                url: "{{path('friends_add_friend')}}",
                method:"post",
                data: {idBoug : idBoug}
            })
            .done(function(data)
            {
                //Une fois la demande envoyée on retire le bouton 'ajouter' et on met 'demande envoyée'
                divBoug = $('div.boug-to-be-added[id-boug="'+idBoug+'"]')
                divBoug.append('Demande effectuée <span class="glyphicon glyphicon-ok"></span>');
                divBoug.find('button.send-friend-request').remove();
            });
        })
        .on('click', 'button.accept-friend-request', function()
        {
            //Quand on clique sur 'accepter demande' on appelle la fonction Ajax
            acceptFriendRequestAjax($(this).attr('id-boug'));
        });
    });

    //Fonction pour aller chercher des bougs en BDD à partir d'un motif
    function searchFriendsAjax(nameSearched)
    {
        $.ajax({
            url: "{{path('friends_get_boug_list_for_friends_search')}}",
            method:"post",
            data: {nameSearched : nameSearched}
        })
        .done(function(data)
        {$
            //On recupère les différents résultats
            nonFriendBougs = JSON.parse(data['nonFriendBougs']);
            friendsRequestedByBoug = JSON.parse(data['friendsRequestedByBoug']);
            bougsRequestingUser = JSON.parse(data['bougsRequestingUser']);

            //On affiche les bougs ayant demandé le user en ami
            bougsRequestingUser.forEach(function(item)
            {
                $('#friends-to-be-added').append("<div class='boug-requesting-user' id-boug="+item["id"]+">"+item["username"]+" <button class='accept-friend-request' id-boug="+item["id"]+">Accepter la demande</button></div>");
            });
            //On affiche les demandes que le user a effectué
            friendsRequestedByBoug.forEach(function(item)
            {
                $('#friends-to-be-added').append("<div class='friend-requested-byrboug' id-boug="+item["id"]+">"+item["username"]+" Demande envoyée</div>");
            });
            //On affiche les autres bougs qui ne sont pas des amis du user
            nonFriendBougs.forEach(function(item)
            {
                $('#friends-to-be-added').append("<div class='boug-to-be-added' id-boug="+item["id"]+">"+item["username"]+" <button class='send-friend-request' id-boug="+item["id"]+">Ajouter</button></div>");
            });
        });
    }


    </script>


{% endblock %}

</body>
</html>