{% extends "CoreBundle::layout.html.twig" %}

{% block body %}
	{{ parent() }}
	Utilisateur courant : {{ user.name }} {{ user.firstName }}. Login : {{ user.username }}
	<br>

	{# 	Formulaire d'ajout de story #}
	<h2> Ajouter une Story </h2>

	{{ form_start(storyForm) }}
	{{ form_errors(storyForm) }}
	{{ form_row(storyForm.title) }}
	{{ form_row(storyForm.content) }}

	{{ form_label(storyForm.bougReadAccess) }}
	 <ul id="bougReadAccess-fields-list"
        data-prototype="{{ form_widget(storyForm.bougReadAccess.vars.prototype)|e }}">
    {% for bougReadAccessField in storyForm.bougReadAccess %}
        <li>
            
        </li>
    {% endfor %}
    </ul>
	{{ form_widget(storyForm.bougReadAccess) }}

     <a href="#" id="add-another-bougReadAccess">Add Boug en accès lecture</a>
     {# <a href="#" id="delete-another-bougReadAccess">Delete Boug</a> #}
     <br>

 	{{ form_label(storyForm.bougIsCharacter) }}
  

     <ul id="bougIsCharacter-fields-list"
        data-prototype="{{ form_widget(storyForm.bougIsCharacter.vars.prototype)|e }}">
    {% for bougIsCharacterField in storyForm.bougIsCharacter %}
        <li>
            {{ form_row(storyForm.bougIsCharacter.vars.prototype) }}

        </li>
    {% endfor %}
    </ul>
  {{ form_widget(storyForm.bougIsCharacter) }}
     <a href="#" id="add-another-bougIsCharacter">Add Boug Is Character</a>

	{{ form_end(storyForm) }}

	{# Affichages des stories #}
	<h2> Stories de l'utilisateur courant : </h2>
	{% for story in stories %}
		<h3>{{ story.title }}</h3>
		 <p>{{ story.content }}</p> 
	{% endfor %}

	

{% endblock %}

{% block rightcol %}
<div id="add-friends-zone" class="row">
	<h3>Ajouter des amis</h3>
	<input id="friends-search-input" type="text" class="form-control" placeholder="Rechercher des amis">
	<div id="friends-to-be-added"></div>
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>
	//Fonction pour aller chercher des bougs en BDD à partir d'un motif
	function searchFriendsAjax(nameSearched)
	{
		$.ajax({
			url: "{{path('friends_get_boug_list')}}",
			method:"post",
			data: {nameSearched : nameSearched}
		})
		.done(function(data)
		{
			nonFriendBougs = JSON.parse(data['nonFriendBougs']);
			friendsRequestedByBoug = JSON.parse(data['friendsRequestedByBoug']);
			bougsRequestingUser = JSON.parse(data['bougsRequestingUser']);
			bougsRequestingUser.forEach(function(item)
			{
				$('#friends-to-be-added').append("<div class='boug-requesting-user' id-boug="+item["id"]+">"+item["username"]+" <button class='accept-friend-request' id-boug="+item["id"]+">Accepter la demande</button></div>");
			});
			friendsRequestedByBoug.forEach(function(item)
			{
				$('#friends-to-be-added').append("<div class='friend-requested-byrboug' id-boug="+item["id"]+">"+item["username"]+" Demande envoyée</div>");
			});
			nonFriendBougs.forEach(function(item)
			{
				$('#friends-to-be-added').append("<div class='boug-to-be-added' id-boug="+item["id"]+">"+item["username"]+" <button class='send-friend-request' id-boug="+item["id"]+">Ajouter</button></div>");
			});
		});
	}

    $(document).ready(function() {

    	//On va chercher les bougs en BDD lorsque l'utilisateur effectue une recherche
    	$('#add-friends-zone').on('keyup', 'input', function(e){
    		if(e.which != 8)
    		{
    			$('#friends-to-be-added').empty();	
    			searchFriendsAjax($(this).val());
    		}
    	})
    	.on('click', 'button.send-friend-request', function()
    	{
    		idBoug = $(this).attr('id-boug');
    		$.ajax({
				url: "{{path('friends_add_friend')}}",
				method:"post",
				data: {idBoug : idBoug}
			})
			.done(function(data)
			{
				divBoug = $('div.boug-to-be-added[id-boug="'+idBoug+'"]')
				divBoug.append('Demande effectuée <span class="glyphicon glyphicon-ok"></span>');
				divBoug.find('button.send-friend-request').remove();
			});
    	})
    	.on('click', 'button.accept-friend-request', function()
    	{
    		acceptFriendRequestAjax($(this).attr('id-boug'));
    	});
    });

</script>

<script type="text/javascript">
    // keep track of how many bougReadAccess fields have been rendered
    var bougReadAccessCount = '{{ storyForm.bougReadAccess|length }}';

    jQuery(document).ready(function() {
        jQuery('#add-another-bougReadAccess').click(function(e) {
            e.preventDefault();

            var bougReadAccessList = jQuery('#bougReadAccess-fields-list');

            // grab the prototype template
            var newWidget = bougReadAccessList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your bougReadAccess
            // end name attribute looks like name="contact[bougReadAccess][2]"
            newWidget = newWidget.replace(/__name__/g, bougReadAccessCount);
            bougReadAccessCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(bougReadAccessList);
        });  

    });

    var bougIsCharacterCount = '{{ storyForm.bougIsCharacter|length }}';

    jQuery(document).ready(function() {
        jQuery('#add-another-bougIsCharacter').click(function(e) {
            e.preventDefault();

            var bougIsCharacterList = jQuery('#bougIsCharacter-fields-list');

            // grab the prototype template
            var newWidget = bougIsCharacterList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your bougIsCharacter
            // end name attribute looks like name="contact[bougIsCharacter][2]"
            newWidget = newWidget.replace(/__name__/g, bougIsCharacterCount);
            bougIsCharacterCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(bougIsCharacterList);
        });
    }); 

        // jQuery('#delete-another-bougReadAccess').click(function(e) {
        //     e.preventDefault();

        //     var bougReadAccessList = jQuery('#bougReadAccess-fields-list');

        //     // grab the prototype template
        //     var newWidget = bougReadAccessList.attr('data-prototype');
        //     // replace the "__name__" used in the id and name of the prototype
        //     // with a number that's unique to your bougReadAccess
        //     // end name attribute looks like name="contact[bougReadAccess][2]"
        //     newWidget = newWidget.replace(/__name__/g, bougReadAccessCount);
        //     bougReadAccessCount++;

        //     // create a new list element and add it to the list
        //     var newLi = jQuery('<li></li>').html(newWidget);
        //     newLi.appendTo(bougReadAccessList);
        // });

</script>

{% endblock %}
