{% extends "CoreBundle::layout.html.twig" %}

{% block body %}
	{{ parent() }}
	<p> Bonjour </p>
	<p> Voici la lsite des bougs </p>
	<ul>
	{% for bou in bougs %}
		<li>{{ bou.name }} {{ bou.firstName }} {{ bou.username }} </li>
	{% endfor %}
	</ul>	

	Utilisateur courant : {{ user.name }} {{ user.firstName }} {{ user.username }}

	Stories de l'utilisateur courant :
	{% for story in stories %}
		<li><h2>{{ story.title }}</h2>
		 <p>{{ story.content }}</p> </li>
	{% endfor %}

	{{ form_start(form) }}	
	{{ form_widget(form) }}
	{{ form_end(form) }}

{% endblock %}

{% block rightcol %}
<div id="add-friends-zone" class="row">
	<h3>Ajouter des amis</h3>
	<input id="friends-search-input" type="text" class="form-control" placeholder="Rechercher des amis">
	<div id="friends-to-be-added"></div>
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>
	//Fonction pour aller chercher des bougs en BDD à partir d'un motif
	function searchFriendsAjax(nameSearched)
	{
		$.ajax({
			url: "{{path('friends_get_boug_list')}}",
			method:"post",
			data: {nameSearched : nameSearched}
		})
		.done(function(data)
		{
			nonFriendBougs = JSON.parse(data['nonFriendBougs']);
			friendsRequestedByBoug = JSON.parse(data['friendsRequestedByBoug']);
			bougsRequestingUser = JSON.parse(data['bougsRequestingUser']);
			bougsRequestingUser.forEach(function(item)
			{
				$('#friends-to-be-added').append("<div class='boug-requesting-user' id-boug="+item["id"]+">"+item["username"]+" <button class='accept-friend-request' id-boug="+item["id"]+">Accepter la demande</button></div>");
			});
			friendsRequestedByBoug.forEach(function(item)
			{
				$('#friends-to-be-added').append("<div class='friend-requested-byrboug' id-boug="+item["id"]+">"+item["username"]+" Demande envoyée</div>");
			});
			nonFriendBougs.forEach(function(item)
			{
				$('#friends-to-be-added').append("<div class='boug-to-be-added' id-boug="+item["id"]+">"+item["username"]+" <button class='send-friend-request' id-boug="+item["id"]+">Ajouter</button></div>");
			});
		});
	}

    $(document).ready(function() {

    	//On va chercher les bougs en BDD lorsque l'utilisateur effectue une recherche
    	$('#add-friends-zone').on('keyup', 'input', function(e){
    		if(e.which != 8)
    		{
    			$('#friends-to-be-added').empty();	
    			searchFriendsAjax($(this).val());
    		}
    	})
    	.on('click', 'button.send-friend-request', function()
    	{
    		idBoug = $(this).attr('id-boug');
    		$.ajax({
				url: "{{path('friends_add_friend')}}",
				method:"post",
				data: {idBoug : idBoug}
			})
			.done(function(data)
			{
				divBoug = $('div.boug-to-be-added[id-boug="'+idBoug+'"]')
				divBoug.append('Demande effectuée <span class="glyphicon glyphicon-ok"></span>');
				divBoug.find('button.send-friend-request').remove();
			});
    	})
    	.on('click', 'button.accept-friend-request', function()
    	{
    		acceptFriendRequestAjax($(this).attr('id-boug'));
    	});
    });

</script>

{% endblock %}
