{% extends "CoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    #homepage-stories
    {
        word-wrap: break-word;
    }
    /*.story
    {
        border-width:1px;
        border-style:solid;
        border-color:black;
    }*/
    .story
    {
        border-top-width:1px;
        border-top-style:solid;
        border-top-color:blue;
    }
    </style>
{% endblock %}

{% block body %}
	{{ parent() }}
	<br>

	{# 	Formulaire d'ajout de story #}
	<h2> Ajouter une Histoire </h2>

	{{ form_start(storyForm) }}
	{{ form_errors(storyForm) }}
	{{ form_row(storyForm.title) }}
	{{ form_row(storyForm.content) }}

	{{ form_label(storyForm.bougReadAccess) }}
	 <ul id="bougReadAccess-fields-list"
        data-prototype="{{ form_widget(storyForm.bougReadAccess.vars.prototype)|e }}">
    {% for bougReadAccessField in storyForm.bougReadAccess %}
        <li>
            
        </li>
    {% endfor %}
    </ul>
	{{ form_widget(storyForm.bougReadAccess) }}

     <a href="#" id="add-another-bougReadAccess">Add Boug en accès lecture</a>
     {# <a href="#" id="delete-another-bougReadAccess">Delete Boug</a> #}
     <br>

 	{{ form_label(storyForm.bougIsCharacter) }}
  

     <ul id="bougIsCharacter-fields-list"
        data-prototype="{{ form_widget(storyForm.bougIsCharacter.vars.prototype)|e }}">
    {% for bougIsCharacterField in storyForm.bougIsCharacter %}
        <li>
            {{ form_row(storyForm.bougIsCharacter.vars.prototype) }}

        </li>
    {% endfor %}
    </ul>
  {{ form_widget(storyForm.bougIsCharacter) }}
     <a href="#" id="add-another-bougIsCharacter">Add Boug Is Character</a>

	{{ form_end(storyForm) }}

	{# Affichages des stories #}
	<h3> Histoires récentes </h3>
	<div id="homepage-stories">
	</div>


{% endblock %}

{% block rightcol %}
    {{ parent() }}
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>

    //On recupère les modèles que l'on va ajouter dynamiquement 
    var storyOpinionFormModel = "{{include('CoreBundle::HomePage/Models/storyOpinionFormModel.html.twig') | e('js')}}";
	var storyDisplayModel = "{{include('CoreBundle::HomePage/Models/storyDisplayModel.html.twig') | e('js')}}";

    //On récupère les paramètres envoyés par le contrôleur en JSON et on les parse
    var homepageStories = JSON.parse("{{ stories | e('js') }}");

    $(document).ready(function() {
        //On affiche toutes les histoires
    	homepageStories.forEach(function(story)
    	{
            //Si l'utilisateur est un personnage de l'histoire on aura un formulaire d'opinion
            if(story.userOpinion != 'notCharacter')
                storyOpinionForm = storyOpinionFormModel.format(story.id);
            else
                storyOpinionForm = '';

            //Si il y a des personnages dans l'histoire on affiche leurs opinion
            if(story.charactersOpinions.length != 0)
            {
                storyOpinions = "Les avis des personnages de cette histoire: Vraie : <span class='countTrue'>"+story.charactersOpinions.countTrue+"</span> - Fake : <span class='countFake'>"+story.charactersOpinions.countFake+"</span> - Je ne m'en rappelle plus : <span class='countDontRemember'>"+story.charactersOpinions.countDontRemember+"</span><br><div class='charactersOpinions' story-id='"+story.id+"'>";
                //Ajoute toutes l'opinion de chaque personnage
                storyOpinions+=giveCharactersOpinionsHTML(story.charactersOpinions.opinions);
                storyOpinions+='</div>';
            }
            //On ajoute l'histoire à partir du modèle en remplaçant les différents paramètres
    		$('#homepage-stories').append(storyDisplayModel.format(story.id, 
                                                                   story.title, 
                                                                   story.owner, 
                                                                   story.content,
                                                                   storyOpinionForm,
                                                                   storyOpinions,
                                                                   story.rating.rating != 0 ? story.rating.rating : 'Aucun vote', 
                                                                   story.rating.ratingsCount
                                                                   ));

            

            //On coche dans le formulaire de notation la note que le user a mis
            userRating = story.userRating.length == 0 ? 0 : story.userRating;
            $('input[name="story-'+story.id+'-rating"][value="'+userRating+'"]').prop('checked', true);
            if(story.userOpinion != 'notCharacter')
            {
                //Si le user est personnage on coche dans le formulaire d'opinion son opinion
                userOpinion = story.userOpinion.length == 0 ? 'noOpinion' : story.userOpinion;
                $('input[name="story-'+story.id+'-opinion"][value="'+userOpinion+'"]').prop('checked', true);
            }
    	});

        //Quand le user change la note qu'il donne à une histoire on appelle la focntion ajax
        $('#homepage-stories').on('change', 'input.story-rating-rate', function()
        {
            storyId = $(this).closest('div.story').attr('id-story');
            rate = $(this).val();
            rateStoryAjax(storyId, rate);
        })
        //Quand il change son opinion on appelle la fonction ajax
        .on('change', 'input.story-opinion-choice', function()
        {
            storyId = $(this).closest('div.story').attr('id-story');
            opinion = $(this).val();
            giveOpinionAjax(storyId, opinion);
        });
    });

    //Prorotype permettant de remplacer toutes les occurences d'un pattern recherché dans un string
    String.prototype.replaceAll = function(search, replacement)
    {
        var target = this;
        return target.split(search).join(replacement);
    };

    //Prototype permettant d'envoyer les paramètres dans les modèles twig : les {0} seront remplacés dans le modèle par le premier paramètre de format(), {1} par le second ...
    String.prototype.format = function()
    {
        var formatted = this;
        for( var arg in arguments ) {
            formatted = formatted.replaceAll('{' + arg + '}', arguments[arg]);
        }
        return formatted;
    };

    //Fonction Ajax permettant de changer la note donnée par le user à une story
    function rateStoryAjax(storyId, rate)
    {
        $.ajax({
            url: "{{path('story_rate')}}",
            method:"post",
            data: {storyId : storyId, rate : rate}
        })
        .done(function(data)
        {
            //On récupère les nouvelles notations
            newRating = data['newRating'];
            newRatingsCount = data['newRatingsCount'];

            //On actualise la moyenne et le nombre de notes
            divStory = $('div.story[id-story="'+storyId+'"]');
            divStory.find('.story-rating-mean').empty().append(newRating);
            divStory.find('.story-rating-count').empty().append(newRatingsCount);
        });
    }

    //Fonction Ajax oerettant de changer l'opinion données par le user à une story
    function giveOpinionAjax(storyId, opinion)
    {
        $.ajax({
            url: "{{path('story_give_opinion')}}",
            method:"post",
            data: {storyId : storyId, opinion : opinion}
        })
        .done(function(data)
        {
            //On récupère les nouvelles opinion
            newOpinions = JSON.parse(data['newCharactersOpinions']);
            divOpinions = $('div.story[id-story="'+storyId+'"] .opinions');

            //On remplace les opinions des personnages par les nouvelles
            divOpinions.find('.charactersOpinions').empty().append(giveCharactersOpinionsHTML(newOpinions.opinions));
            //On actualise le nombre de fake, trues...
            divOpinions.find('.countTrue').empty().append(newOpinions.countTrue);
            divOpinions.find('.countFake').empty().append(newOpinions.countFake);
            divOpinions.find('.countDontRemember').empty().append(newOpinions.countDontRemember);
        });
    }

    //Fonction donnant le HTML pour afficher toutes les opinions des personnages d'une histoire
    function giveCharactersOpinionsHTML(charactersOpinions)
    {
        var html = '';
        charactersOpinions.forEach(function(opinion)
        {
            if(opinion.opinion.length != 0 && opinion.username != '{{ user.username }}')
            {
                switch(opinion.opinion)
                {
                    case 'true':
                        op = 'Vraie';
                        break;
                    case 'fake':
                        op = 'Fake';
                        break;
                    case 'dontremember':
                        op = 'Ne s\'en souvient plus';
                        break;
                    default :
                        op = '';
                }
                html+= opinion.username+" : "+op+"<br>"; 
            }
        });
        return html;
    }

</script>



<!-- TODO : dégager ? -->

<script type="text/javascript">
    // keep track of how many bougReadAccess fields have been rendered
    var bougReadAccessCount = '{{ storyForm.bougReadAccess|length }}';

    jQuery(document).ready(function() {
        jQuery('#add-another-bougReadAccess').click(function(e) {
            e.preventDefault();

            var bougReadAccessList = jQuery('#bougReadAccess-fields-list');

            // grab the prototype template
            var newWidget = bougReadAccessList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your bougReadAccess
            // end name attribute looks like name="contact[bougReadAccess][2]"
            newWidget = newWidget.replace(/__name__/g, bougReadAccessCount);
            bougReadAccessCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(bougReadAccessList);
        });  

    });

    var bougIsCharacterCount = '{{ storyForm.bougIsCharacter|length }}';

    jQuery(document).ready(function() {
        jQuery('#add-another-bougIsCharacter').click(function(e) {
            e.preventDefault();

            var bougIsCharacterList = jQuery('#bougIsCharacter-fields-list');

            // grab the prototype template
            var newWidget = bougIsCharacterList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your bougIsCharacter
            // end name attribute looks like name="contact[bougIsCharacter][2]"
            newWidget = newWidget.replace(/__name__/g, bougIsCharacterCount);
            bougIsCharacterCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(bougIsCharacterList);
        });
    }); 

        // jQuery('#delete-another-bougReadAccess').click(function(e) {
        //     e.preventDefault();

        //     var bougReadAccessList = jQuery('#bougReadAccess-fields-list');

        //     // grab the prototype template
        //     var newWidget = bougReadAccessList.attr('data-prototype');
        //     // replace the "__name__" used in the id and name of the prototype
        //     // with a number that's unique to your bougReadAccess
        //     // end name attribute looks like name="contact[bougReadAccess][2]"
        //     newWidget = newWidget.replace(/__name__/g, bougReadAccessCount);
        //     bougReadAccessCount++;

        //     // create a new list element and add it to the list
        //     var newLi = jQuery('<li></li>').html(newWidget);
        //     newLi.appendTo(bougReadAccessList);
        // });

</script>

{% endblock %}
